* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e1e1e1;
}

.container {
  width: 80%;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  width: 100%;
}

header h1 {
  background-color: #ffffff;
  padding: 1rem 0;
  margin: 20px 0;
  text-align: center;
  border-bottom: 5px solid #303537;
}

.display {
  width: 100%;
}

.display .display-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
}

.display .display-box .display-item {
  display: flex;
  flex-direction: column;
  padding: 6px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .6);
  background-color: #303537;
  transition: .3s ease;
  aspect-ratio: 3/4;
}

.display .display-box .display-item .item-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.display .display-box .display-item h4 {
  text-align: center;
  color: #fff;
  padding: 12px 0;
  font-size: 18px;
  font-family: sans-serif;
}

.display .display-box .display-item .info {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding-bottom: 4px;
}

.display .display-box .display-item .info .beli,
.display .display-box .display-item .info .harga {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  /* background-color: blueviolet; */
}

.display .display-box .display-item .info .beli a {
  display: block;
  width: 80px;
  padding: 4px 5px;
  text-decoration: none;
  text-align: center;
  color: #000;
  font-weight: 600;
  background-color: #ffcc00;
  border-radius: 6px;
}

.display .display-box .display-item .info .harga span {
  color: #ffcc00;
}