* {
        margin: 0;
        padding: 0;
        color: #fff;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        background-color: #f8f7ed;
        font-family: sans-serif;
        min-height: 5000px;
        position: relative;
    }

    .reg-wrapper {
        display: flex;
        justify-content: end;
        padding: 3px 5rem;
        background-color: rgb(44, 44, 44);
    }
    
    .logo-wrapper {
        position: relative;
        background-color: rgb(24, 24, 24);
        display: flex;
        padding: 10px 5rem;
        gap: 5px;
        align-items: center;
    }
    .logo-img {
        width: 50px;
        height: 50px;
        border-right: 3px solid #ffcc00;
    }
    .logo-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-fit: contain;
    }
    .logo-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 32px;
        font-weight: 600;
        color: #fff;
    }
    .logo-text span {
        color: #ffcc00;
    }

    .reglog {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .reg a, .log a {
        color: #ffcc00;
        font-size: 20px;
    }

    /* nav {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        margin-top: 3px;
        padding: .5rem 5rem;
    }

    nav ul {
        display: flex;
        gap: 20px;
    }

    nav li {
        list-style: none;
        font-size: 24px;
        font-weight: 500;
    }
    
    nav li a {
        text-decoration: none;
        color: #000;
    }

    nav li a:hover {
        text-decoration: underline;
        color: #ffcc00;
    } */

.navbar {
    background-color: rgb(53, 53, 53);
    margin: 0;
    margin-top: 2px;
    padding: 16px 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}

.menu li {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}