* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  width: 100%;
  padding: 16px 0;
  background-color: #181f20;
}

header .box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo-wrapper .logo-img {
  width: max-content;
  height: 50px;
  /* border-right: 2.5px solid #ffcc00; */
}

.logo-wrapper .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo-wrapper .logo-text {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  font-family: sans-serif;
}
.logo-wrapper .logo-text span {
  color: #ffcc00;
}

header .reglog {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
header .reglog a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
}

nav {
  width: 100%;
  padding: 16px 0;
  border-bottom: 2px solid #000;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 22px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-family: sans-serif;

}

main {
  width: 100%;
  padding: 16px 0;
}

main section h2 {
  font-size: 32px;
  color: #000;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 12px;
  margin: 16px 0;
}

main .main-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
main .item {
  display: flex;
  flex-direction: column;
  padding: 6px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .6);
  background-color: #303537;
  transition: .3s ease;
  aspect-ratio: 3/4;
}
main .item:hover {
  box-shadow: none;
}
main .main-box .item-img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .main-box .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease;
}
main .item:hover .item-img img {
  transform: scale(1.1);
}
main .main-box h4 {
  text-align: center;
  color: #fff;
  padding: 8px 0;
  font-size: 18px;
  font-family: sans-serif;
}